@import '~bulma/bulma.sass';


.container {
  height: 50vh;
}


.map-container {
  height: calc(100vh - 52px);
  margin: 30px;
}

.app{
  display: flex;
  overflow-x: auto;

}


.weatherContainer{
display: flex;
flex-direction: column;
overflow-x: auto;

}
.wishlist-items{
  display: flex;
  overflow-x: auto;
}

.parks-saved{
  margin: 10px;
  min-width: 50vw;

}


.day{
  display: flex;
}

.weather-day{
  border: 1px black solid;
  margin: 5px;
  margin-left: 10px;
  min-width: 33vw;
  padding: 10px;
}

.reccomendation-box{
  display: flex;
  overflow-x: auto;

}

.card-box{
  display: flex;
  min-width: 50vw;
  flex-direction: column;
  margin-right: 10px;
}

