@import '~bulma/bulma.sass';


.container {
  height: 50vh;
}


.map-container {
  height: calc(100vh - 52px);
  margin: 30px;
}

.app{
  display: flex;
  overflow-x: auto;

}


.weatherContainer{
display: flex;
flex-direction: column;
overflow-x: auto;

}

.day{
  display: flex;
}

.weather-day{
  border: 1px black solid;
  margin: 5px;
  margin-left: 10px;
  min-width: 33vw;
  padding: 10px;
}

.reccomendation-box{
  display: flex;
  overflow-x: auto;

}

.card-box{
  display: flex;
  min-width: 50vw;
  flex-direction: column;
  margin-right: 10px;
}

.region-slider {
  height: 400px;
  width: 400px;
  
}

.slider {
  position: relative;
  height: 50vh;
  // opacity: 0;
  transition: .3s ease;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide.active {
  opacity: 1;
  transition-duration: .2s;
}

.slider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}